<h1>Stupid Coaching</h1>

<div class="border-card">
  <p><%= params[:question] %></p>
  <p>- You</p>
</div>

<div class="border-card coach">
  <p><%= @answer %></p>
  <p>- Your Coach </p>
</div>

<%= link_to "Ask a new question", ask_path %>
